@import '../../../styles/variaveis';

.header {
    background-color: $cor-do-cabecalho;
    text-align: center;
    padding: 0.5em 0;
}

.titulo {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.container {
    padding: 1em 0;
}

.container__lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
}

.lista__item {
    padding: 0.8em;
    border: 1px solid $preto;
    border-radius: 5px;
    background-color: $cinza-azul;
}

.lista__link {
    text-decoration: none;
    color: white;
}