@import '../../../styles/variaveis';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.container__titulo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.container__input {
    margin: 1em 0;
    height: 2em;
    width: 60vw;
    text-align: center;
    background: $cinza-azul;
    color: white;
    border: 3px solid $preto;
    border-radius: 5px;
}

.container__lista {
    display: flex;
    flex-direction: column;
}

.lista__item {
    list-style: none;
    color: white;
    margin: 1em 0;
    font-size: 25px;
}
