@import '../../../../styles/variaveis';

.historico {
    border: 5px solid rgb(50, 43, 63);
    border-radius: 5px;
    margin: 0.2em 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: $cor-do-cabecalho;
}

.historico__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.historico__titulo {
    margin: 0.2em 0;
    padding: 0.5em 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.historico__icone {
    font-size: 24px;
    text-align: end;
    cursor: pointer;
    justify-self: end;
    color: $vermelho;
}

.historico__lista {
    text-decoration: none;
    list-style-type: none;
}

.historico__item {
    color: white;
    padding: 0.5em;
    box-sizing: border-box;
    width: 30vh;
}

.historico__valor {
    color: $azul-fluorescente;
}

