@import '../../../../styles/variaveis';

.item {
    border: 5px solid rgb(50, 43, 63);
    border-radius: 5px;
    margin: 0.2em 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: $cor-do-cabecalho;
}

.item__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.item__titulo {
    margin: 0.2em 0;
    padding: 0.5em 0;
    font-size: 20px;
    font-weight: 700;
}

.item__icone {
    font-size: 24px;
    text-align: end;
    cursor: pointer;
    justify-self: end;
    color: $vermelho;
}

.item__lista {
    text-decoration: none;
    list-style-type: none;
}

.item__lista__item {
    padding: 0.5em;
    box-sizing: border-box;
    width: 30vh;
}

.item__valor {
    color: $azul-fluorescente;
}

@media screen and (min-width: 1024px) {
    .item {
        padding: 0.2em 2em;
        margin: 0.5em;
    } 

    .item__container {
        justify-content: space-between;
    }
}
