@import '../../../styles/_variaveis.scss';

.historico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.historico__botao {
    margin: 1em 0;
    padding: 0.8em;
    color: white;
    background-color: $cinza-azul;
    font-weight: 700;
    cursor: pointer;
}
