@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import './styles/_variaveis.scss';

body {
    background-color: $cor-de-fundo;
}

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
